<style>
    .content-goods {
        background-color: #F8F9FB;
        padding: 0.2rem 0.2rem;
    }

    .content-goods ul {
        display: flex;
        flex-wrap: wrap;
    }

    .content-goods .goods-item {
        width: 30%;
    }

    .content-goods .goods-item:not(:nth-child(3n)) {
        margin-right: calc(15% / 3);
    }

    .content-goods .goods-item img {
        width: 100%;
    }

    .goods-item-ft .caption {
        padding: 0 10px;
        text-align: center !important;
    }

    .goods-item-ft .rating {
        min-height: 33px;
        margin-top: 10px;
    }

    .rating .fa {
        font-size: 16px;
        width: 1em;
        height: 1em;
        line-height: 0;
        vertical-align: baseline;
        color: #4d0067;
    }

    .caption a {
        color: #9b9b9b;
        text-decoration: none !important;
        font-size: 14px;
        line-height: 18px;
    }

    .product-info {
        padding-bottom: 0;
        width: 100%;
        padding: 4px 0 0 6px;
        display: block;
        overflow: hidden;
        text-align: center;
    }

    .price-box .old-price .price {
        color: #9b9b9b;
        text-decoration: line-through;
    }

    .old-price,
    .price-box .special-price {
        display: inline-block;
    }

    .price-box .special-price {
        color: #000;
        padding-left: 1em;
    }
</style>

<div class="content-goods">
    <ul>
        <li class="goods-item">
            <div class="goods-item-bd"><a href="#"><img src="../imgs/prod/goods/goods-demo.webp" alt="珠宝"></a></div>
            <div class="goods-item-ft">
                <div class="caption">
                    <div class="rating">
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                    </div>
                    <h5><a href="https://www.ornatejewels.com/x-factor-ring-in-925-silver.html">南非大钻戒</a></h5>
                    <div class="product-info" style="min-height: 70px;">
                        <div class="price-box">
                            <p class="old-price"><span class="price-label">原价：</span><span class="price">
                                    1,399 </span></p>
                            <p class="special-price"><span class="price-label">亏本价：</span><span class="price"
                                    id="product-price-60393">
                                    839 </span></p>
                        </div><span style="color:#000; font-size: 16px;"><b>40% OFF </b></span>
                    </div>
                </div>
            </div>
        </li>
        <li class="goods-item">
            <div class="goods-item-bd"><a href="#"><img src="../imgs/prod/goods/goods-demo.webp" alt="珠宝"></a></div>
            <div class="goods-item-ft">
                <div class="caption">
                    <div class="rating">
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                    </div>
                    <h5><a href="https://www.ornatejewels.com/x-factor-ring-in-925-silver.html">南非大钻戒</a></h5>
                    <div class="product-info" style="min-height: 70px;">
                        <div class="price-box">
                            <p class="old-price"><span class="price-label">原价：</span><span class="price">
                                    1,399 </span></p>
                            <p class="special-price"><span class="price-label">亏本价：</span><span class="price"
                                    id="product-price-60393">
                                    839 </span></p>
                        </div><span style="color:#000; font-size: 16px;"><b>40% OFF </b></span>
                    </div>
                </div>
            </div>
        </li>
        <li class="goods-item">
            <div class="goods-item-bd"><a href="#"><img src="../imgs/prod/goods/goods-demo.webp" alt="珠宝"></a></div>
            <div class="goods-item-ft">
                <div class="caption">
                    <div class="rating">
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                    </div>
                    <h5><a href="https://www.ornatejewels.com/x-factor-ring-in-925-silver.html">南非大钻戒</a></h5>
                    <div class="product-info" style="min-height: 70px;">
                        <div class="price-box">
                            <p class="old-price"><span class="price-label">原价：</span><span class="price">
                                    1,399 </span></p>
                            <p class="special-price"><span class="price-label">亏本价：</span><span class="price"
                                    id="product-price-60393">
                                    839 </span></p>
                        </div><span style="color:#000; font-size: 16px;"><b>40% OFF </b></span>
                    </div>
                </div>
            </div>
        </li>
        <li class="goods-item">
            <div class="goods-item-bd"><a href="#"><img src="../imgs/prod/goods/goods-demo.webp" alt="珠宝"></a></div>
            <div class="goods-item-ft">
                <div class="caption">
                    <div class="rating">
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                        <span class="fa fa-stack"></span><i class="layui-icon layui-icon-rate-solid"></i></span>
                    </div>
                    <h5><a href="https://www.ornatejewels.com/x-factor-ring-in-925-silver.html">南非大钻戒</a></h5>
                    <div class="product-info" style="min-height: 70px;">
                        <div class="price-box">
                            <p class="old-price"><span class="price-label">原价：</span><span class="price">
                                    1,399 </span></p>
                            <p class="special-price"><span class="price-label">亏本价：</span><span class="price"
                                    id="product-price-60393">
                                    839 </span></p>
                        </div><span style="color:#000; font-size: 16px;"><b>40% OFF </b></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>