@media screen and (max-width: 950px) {
    /* .peop-item .peop-img {
        width: 50%;
        height: 50%;
    } */
}
@media screen and (max-width: 950px) {
    /* .peop-item .peop-img {
        width: 50%;
        height: 50%;
    } */
}